<br><br>
<a href="/profile"><h2>My profile</h2></a>
<br><br>

<h1>Where do you want to relax?</h1>
<br><br>
<a href="/player/pp.181896946">
    <img src="https://www.bigstockphoto.com/images/homepage/module-6.jpg" alt="Feelings" />
</a>

<br><br>
<a href="/player"><h2>Nature</h2></a>

<br><br>
<a href="/player"><h2>Jazz bar</h2></a>

<br><br>
<a href="/player"><h2>Spa</h2></a>

<br><br>
<a href="/player"><h2>Surprise me!</h2></a>

<br><br>
<a href="/playlist"><h2>Playlists</h2></a>

<script src="/javascripts/homeScript.js"></script>