<div>
    <div id="background-image-index">

        <div class="text-index-page">
           <p><h1 style="font-size: 50px">When you are busy, it is good to take time to relax. Try this app!</h1></p>
        </div>
        <br>
        <div style="text-align: center;">
            <button class="index-page-button"><a href="/signup">SIGNUP</a></button>
            <button class="index-page-button"><a href="/login">LOGIN</a></button>
        </div>
    </div> 
</div>