
<a href="/home">HOME</a>

<h1>My playlists</h1>
<br><br>
<h4>You can create up to three playlists</h4>

{{#each userdata.playlists}}
    <a href="/playlist/{{this._id}}">
        <button>{{this.playlistName}}</button>
    </a>
{{/each}}
