<div>
    <div id="background-image-playlist">

        <div id="home-button-div" style="overflow-y: scroll">
            <a href="/home" class="btn">
                <img src="/images/homelink.png" class="profile-button" alt="HOME">
            </a>
        </div>

        <div class="playlist-body">
        <h1 id="h1-player" style="font-size: 50px">My playlists</h1>
        <br>

{{#each userdata.playlists}}
    <a href="/playlist/{{this._id}}">
        <button>{{this.playlistName}}</button>
    </a>
    <a href="/playlist/{{this._id}}/delete">
        <button>delete</button>
    </a>
    <br>
    <br>
{{/each}}
