<div>
    <div id="background-image-playlist">

        <div id="home-button-div" style="overflow-y: scroll">
            <a href="/home" class="btn">
                <img src="/images/homelink.png" class="profile-button" alt="HOME">
            </a>
        </div>

        <div class="playlist-body">
        <h1 id="h1-player" style="font-size: 50px">My playlists</h1>
        <br>
        <h4>Create your playlists here</h4>

        {{#each userdata.playlists}}
        <a href="/playlist/{{this._id}}">
            <button>{{this.playlistName}}</button>
        </a>
        {{/each}}

<br><br><br> <br><br><br>
<h1>this</h1>
<br><br><br> <br><br><br>
<h1>that</h1>
<br><br><br> <br><br><br>
<h1>what</h1>
<br><br><br> <br><br><br>
<h1>whatever</h1>
    </div>
</div>
</div>