
<a href="/home">HOME</a>

<h1>My playlists</h1>
<br><br>
<h4>You can create up to three playlists</h4>

<button>Playlist 1</button>
<br>
<button>Playlist 2</button>
<br>
<button>Playlist 3</button>
<br>

