<h1>My profile</h1>

<br><br>

    <img src="/images/user.png" class="profile-page-image" alt="">


    <p>Username</p>
    <!--  UPDATE  -->
    <form action ="/profile/edit" id="username-update-form" method="POST">

      <button id="edit-username-button">Edit Username</button>
        <div id="update-section" style="display: none">
          <input type="text" name="username" class="the-name" value="{{user.username}}"><br>
        </div>

      <button type="submit">Save</button>
    </form>
    <br>
    <br>

    <br>
    <br>

    <a href="/logout">
    <button>Log out</button>
    </a> 
    <br>
    <br>

    <a href="/profile/delete">
    <button>Delete account</button>
    </a> 

<script src="/javascripts/profile.js"></script>