<h1>My profile</h1>

<br><br>

    <img src="/images/convent.jpg" alt="">


    <p>Username</p>
    <button id="edit-username-button">Edit username</button>
    <!--  UPDATE  -->
    <div id="username-update-section" style="display: none">
    <form id="username-update-form">
        <input type="text" name="name" class="the-name" placeholder="name"><br> 
        <button>New username</button>
    </form>
  </div>
    <br>
    <br>

    <p>Password</p>
    <button id="edit-password-button">Edit password</button>
    <div id="password-update-section" style="display: none">
    <form id="password-update-form">
        <input type="text" name="name" class="the-name" placeholder="name"><br> 
        <button>New password</button>
    </form>
  </div>
    <br>
    <br>

    <a href="/">
    <button>Log out</button>
    </a> 
    <br>
    <br>

    <a href="/">
    <button>Delete account</button>
    </a> 

<script src="/javascripts/profile.js"></script>