
body {
  font-family: 'Kaushan Script', cursive, Helvetica, sans-serif;
}

a {
  color: #00B7FF;
}

#background-image-index {
  height: 100vh;
  background-image: url("/images/sunset.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#background-image-home {
  height: 100vh;
  background-image: url("/images/nature2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#background-image-login {
  height: 100vh;
  background-image: url("/images/playlist.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#background-image-signup {
  height: 100vh;
  background-image: url("/images/mandolin.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#background-image-profile {
  height: 100vh;
  background-image: url("/images/road.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.form-size {
  width: 80%;
  padding-top: 75px;
  color: cornsilk;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
 }

#login-submit-button {
  background-color: #fffffe;
  color: grey;
  border-radius: 15%;
  transition-duration: 0.4s;
}

#login-submit-button:hover {
  cursor: pointer;
}

#username, #email, #password {
  font-size: 16px;
}

.signin-link {
  width: 80%;
  padding: 75px 25px;
  color: cornsilk;
  font-size: 35px;
  margin-left: auto;
  margin-right: auto;
}

a:hover {
  cursor: pointer;
}

.text-index-page {
  color: cornsilk;
  text-align: center;
  padding: 75px;
  max-height: 80%;
}

.signup-link {
  font-size: 25px;
  font-weight: bolder;
  font-size: 35px;
  margin-left: auto;
  margin-right: auto;
}


.index-page-button {
  transition-duration: 0.4s;
  background-color: rgba(128, 2, 13, 0.575);
  border: none;
  border-radius: 45%;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  max-height: 20%;
}

.index-page-button:hover {
  background-color: rgb(99, 3, 3);
  color: cornsilk;
}

.text-home-page {
  color: cornsilk;
  text-align: center;
  max-height: 15%;
  z-index: 10000;
  /* padding-left: 20px; */
  padding-right: 20px;
}

#cards-container {
  max-height: 85%;
}

.button-image {
  transition-duration: 0.4s;
  transform: translate( -50%, -50% );
  border: none;
  display: flex;
}

.button-image:hover {
  color: cornsilk;
}

.card {
  display: flex;
  border: transparent;
  background-color: transparent;
}

.card:hover {
  cursor: pointer;
}

.card-columns {
  display: flex;
  justify-content: center;
}

.card-img-top {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

.card-img-subtitle {
  color: cornsilk;
  font-size: 24px;
  font-weight: bold;
}


.profile-form {
  width: 80%;
  padding-top: 75px;
  color: cornsilk;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
}

.profile-button {
  transition-duration: 0.4s;
  border: none;
  margin-top: 5px;
  margin-right: 5px;
  width: 30px;
}

.profile-button:hover {
  cursor: pointer;
}
.profile-page-image {
  width: 120px;
  height: 120px;
}

