
body {
  font-family: 'Kaushan Script', cursive, Helvetica, sans-serif;
}

body, html {
  height: 100%;
}

#background-image-index {
  height: 100vh;
  background-image: url("/images/sunset.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#background-image-home {
  height: 100vh;
  background-image: url("/images/nature2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#background-image-login {
  height: 100vh;
  background-image: url("/images/playlist.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#background-image-signup {
  height: 100vh;
  background-image: url("/images/mandolin.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#background-image-profile {
  height: 100vh;
  background-image: url("/images/road.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
} 

#background-image-playlist {
  height: 100vh;
  background-image: url("/images/rocks.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden; 
  overflow-x: auto; 
  text-align:justify; 
  background-attachment: fixed;
}

#background-image-player {
  height: 100vh;
  background-image: url("/images/rings.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden; 
  overflow-x: auto; 
  text-align:justify; 
  background-attachment: fixed;
}

#background-image-playlist-details {
  height: 100vh;
  background-image: url("/images/trumpet.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden; 
  overflow-x: auto; 
  text-align:justify; 
  background-attachment: fixed;
}

.form-size {
  width: 80%;
  padding-top: 75px;
  color: cornsilk;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
 }

#login-submit-button {
  background-color: #fffffe;
  color: grey;
  border-radius: 15%;
  transition-duration: 0.4s;
  margin-top: 10px;
}

#login-submit-button:hover {
  cursor: pointer;
}

#username, #email, #password {
  font-size: 16px;
}

.signin-link {
  width: 80%;
  padding-bottom: 40px;
  color: cornsilk;
  font-size: 35px;
  margin-left: auto;
  margin-right: auto;
}

.signin-link:hover {
  cursor: pointer;
}

.text-index-page {
  color: cornsilk;
  text-align: center;
  padding: 75px;
  max-height: 80%;
}

.signup-link {
  font-size: 25px;
  font-weight: bolder;
  font-size: 35px;
  margin-left: auto;
  margin-right: auto;
}

.signup-link:hover {
  cursor: pointer;
}

.index-page-button {
  transition-duration: 0.4s;
  background-color: rgba(66, 20, 97, 0.575);
  border: none;
  border-radius: 45%;
  padding: 15px 32px;
  margin-left: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 28px;
  max-height: 20%;
}

.index-page-button:hover {
  background-color: rgb(126, 122, 122);
}

.profile-button {
  transition-duration: 0.4s;
  border: none;
  margin-top: 5px;
  margin-right: 5px;
  width: 30px;
}

.profile-button:hover {
  cursor: pointer;
}

.text-home-page {
  color: cornsilk;
  text-align: center;
  max-height: 15%;
  z-index: 10000;
  /* padding-left: 20px; */
  padding-right: 20px;
}

#cards-container {
  max-height: 85%;
}

.button-image {
  transition-duration: 0.4s;
  transform: translate( -50%, -50% );
  border: none;
  display: flex;
}

.button-image:hover {
  color: cornsilk;
  cursor: pointer;
}

.card {
  display: flex;
  border: transparent;
  background-color: transparent;
}

.card:hover {
  cursor: pointer;
}

.card-columns {
  display: flex;
  justify-content: center;
}

.card-img-top {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

.card-img-subtitle {
  color: cornsilk;
  font-size: 24px;
  font-weight: bold;
}

.home-button {
  transition-duration: 0.4s;
  border: none;
  margin-top: 5px;
  margin-right: 5px;
  width: 30px;
}

.home-button:hover {
  cursor: pointer;
}

.playlist-body {  
  width: 80%;
  color: cornsilk;
  font-size: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#profile-form {
  width: 80%;
  padding-top: 50px;
  color: cornsilk;
  font-size: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.profile-page-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.edit-button {
  background-color: transparent;
  border: none;
}

#nav-bar{
  display: flex;
  /* padding: 10px; */
  justify-content: space-between;
}

.player-button {
  background-color: #fffffe;
  color: black;
  border-radius: 15%;
  transition-duration: 0.4s;
  margin-top: 10px;
}

.player-button:hover {
  cursor: pointer;
}

#playlist-button {
  color: black;
  border-radius: 15%;
  transition-duration: 0.4s;
  border: none;
  margin-top: 10px;
  margin-right: 15px;
}

.playlist-button:hover {
  cursor: pointer;
}

.playlist-nav-button {
  /* color: black;
  border-radius: 15%; */
  transition-duration: 0.4s;
  border: none;
  margin-top: 10px;
  margin-right: 40px;
  width: 30px;
  height: auto;
}

.playlist-nav-button:hover {
  cursor: pointer;
}

#player-body {
  width: 80%;
  color: cornsilk;
  font-size: 20px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

#addAudio {
  background-color: #fffffe;
  color: black;
  border-radius: 15%;
  transition-duration: 0.4s;
  margin-top: 10px;
}

#playlist-body {
  width: 80%;
  color: cornsilk;
  font-size: 20px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.playlist-button {
  color: black;
  background-color: cornsilk;
  border-radius: 15%;
  transition-duration: 0.4s;
  border: none;
  margin-top: 10px;
  margin-right: 15px;
}

#playlist-details-body {  
  /* width: 80%; */
  /* color: rgb(194, 179, 121); */
  font-size: 20px;
  /* text-align: center; */
  margin-left: auto;
  margin-right: auto;
}

.track-details {
  margin-bottom: 5px;
  font-size: 25px;

}