<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <form action="/login" method="GET" id="form">
   
        <h2>Login</h2>
        <label for="username">Username</label>
        <input type="text" name="username">

        <label for="email">Email</label>
        <input type="email" name="email">

        <label for="password">Password</label>
        <input type="text" name="password">

   </form> 

    <a href="/views/index"><button>Sign in</button></a>
  

</body>
</html>