<div>
  <div id="background-image-signup"></div>
   <form action="/signup" method="POST" id="form">
   
        <h2>Signup</h2>
        <label for="username">Username</label>
        <input type="text" name="username">

        <label for="email">Email</label>
        <input type="email" name="email">

        <label for="password">Password</label>
        <input type="text" name="password">

   
    <button type="submit">Sign up</button>

  </form> 

    {{#if errorMessage}}

    <p>{{errorMessage}}</p>
    
    {{/if}}
    <p>
    <a href="/login">Already have an account? Log in</a> 
    </p>

</div>
